$root: '.main-button';

#{$root} {
  padding: 5px 10px;
  border-radius: 6px;
  border: 1px solid #a3a3a3;
  cursor: pointer;
  margin-right: 5px;

  &_active {
    border: 1px solid #424242;
    background-color: #424242;
    color: #eaeaea;
  }

}