$root: '.main-pagination';

#{$root} {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;

  &__separator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 5px;
  }

}