$root: '.container';

#{$root} {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding: 0 -20px;

  &__item {
    margin: 0 20px;
    padding: 19px 0;
    flex-basis: 60%;

    &_40 {
      flex-basis: 40%;
    }

  }

  &__search-input {
    display: flex;
  }

}